@import "../../global.scss";

//transition effects
//transition effects

@keyframes modalUp {
  0% {
    top: 1000px;
  }
  100% {
    top: 0px;
  }
}

@keyframes modalDown {
  0% {
    top: 0px;
  }
  100% {
    top: 1000px;
  }
}
@keyframes formUp {
  0% {
    top: 1000px;
  }
  100% {
    top: 0px;
  }
}

@keyframes formDown {
  0% {
    top: 0px;
  }
  100% {
    top: 1000px;
  }
}
@keyframes blurIn {
  50% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(6px);
  }
}

@keyframes blurOut {
  0% {
    backdrop-filter: blur(6px);
  }
  50% {
    backdrop-filter: blur(0px);
  }
}

.modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  margin-top: $navHeight;
  height: calc(100% - $navHeight);
  width: 100%;
  z-index: 5;
  transition: all ease 1s;

  @include mobile {
    margin-bottom: $navHeight;
    margin-top: unset;
  }
  @include mobileKeyboard {
    margin-bottom: unset;
    margin-top: unset;
    height: 100%;
  }

  &.in {
    animation: modalUp 1s ease;
  }

  &.out {
    animation: modalDown 1s ease;
  }

  .modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 40px 20px 30px;
    z-index: 10;
    border-radius: 10px;
    max-height: 80vh;
    overflow-y: overlay;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    max-width: 576px;
    transition: all ease 1s;

    @include mobile {
      width: 75%;
      padding: 0px 20px 20px 20px;
    }
    @include mobileKeyboard {
      width: 75%;
      padding: 0px 20px 20px 20px;
    }

    &.in {
      animation: formUp 1s ease;
    }

    &.out {
      animation: formDown 1s ease;
    }

    &.job {
      align-items: flex-start;
    }

    &.resume {
      max-width: 650px;
    }

    &.view {
      @include mobile {
        padding: 0px 10px;
      }
      @include mobileKeyboard {
        padding: 0px 10px;
      }
    }

    .modal-title-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      padding: 20px 35px;
      border-radius: 10px 10px 0px 0px;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
      width: inherit;
      max-width: inherit;

      @include mobile {
        padding: 20px;
      }
      @include mobileKeyboard {
        padding: 20px;
      }

      .modal-name {
        font-size: 26px;
        font-weight: 500;

        @include mobile {
          font-size: 20px;
        }
        @include mobileKeyboard {
          font-size: 20px;
        }
      }

      .icon-container {
        margin-top: 2px;
        margin-right: 8px;
        min-width: 30px;
        max-width: 30px;
        max-height: 30px;
        min-height: 30px;
        .favorite-icon {
          min-width: 30px;
          max-width: 30px;
          max-height: 30px;
          min-height: 30px;
        }
      }
    }

    .modal-inputs-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-top: 90px;

      @include mobile {
        margin-top: 80px;
      }
      @include mobileKeyboard {
        margin-top: 80px;
      }

      &.resume {
        align-items: center;
        width: 100%;
        max-height: 70vh;
        overflow: hidden;
      }

      .modal-input {
        outline: none;
        border: none;
        min-width: 380px;
        font-size: 20px;

        @include mobile {
          min-width: 250px;
        }
        @include mobileKeyboard {
          min-width: 250px;
        }

        &.new-board {
          margin: 10px 0px 15px 0px;
        }
        &.resume {
          margin: 10px 0px 15px 0px;
          width: 90%;
        }

        &.job {
          margin: 6px 0px;
        }

        &.pay {
          max-width: 100px;
          min-width: unset;
          margin-left: 10px;
        }
        &.date {
          max-width: 200px;
          min-width: unset;
        }
      }
      // REMOVE ARROWS ON NUMBER INPUT
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }

      .modal-buttons-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        &.new-board {
        }

        &.job {
          margin-top: 10px;
        }

        .modal-button {
          &.false {
            opacity: 0.35;
          }
        }

        .delete-buttons-container {
          display: flex;
          justify-content: space-evenly;
          min-width: 200px;
        }
      }

      .job-input-container {
        min-height: 50px;
      }
      .job-input-container-w-radio {
        padding: 5px 0px;
      }

      .job-input-container,
      .job-input-container-w-radio {
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;
        overflow: visible;
        box-sizing: border-box;
        width: 100%;

        @include mobile {
          flex-direction: column;
          align-items: start;
          margin-bottom: 5px;
        }
        @include mobileKeyboard {
          flex-direction: column;
          align-items: start;
          margin-bottom: 5px;
        }

        &.date-input {
          justify-content: flex-start;
        }

        .input-label {
          font-size: 20px;
          padding-right: 12px;
          min-width: 150px;
          position: relative;

          @include mobile {
            opacity: 0.7;
            margin-bottom: -5px;

            &.mobile-mb {
              margin-bottom: 7px;
            }
          }
          @include mobileKeyboard {
            opacity: 0.7;
            margin-bottom: -5px;

            &.mobile-mb {
              margin-bottom: 7px;
            }
          }

          &.edit-boardname {
            min-width: unset;
            margin-bottom: 10px;
            margin-right: 10px;
          }

          .input-label-subtext {
            font-size: 13px;
            font-style: italic;
          }

          &.filter {
            min-width: 100px;
          }
        }

        .center-content {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: auto;
        }

        .job-radio-container {
          display: flex;
          flex-direction: column;
          padding: 5px;

          span {
            padding-left: 10px;
          }

          .job-radio-buttons-container {
            display: flex;
            width: 400px;
            flex-wrap: wrap;
            height: 100%;
            margin-top: 6px;

            @include mobile {
              width: 100%;
            }
            @include mobileKeyboard {
              width: 100%;
            }

            .job-radio-wrapper {
              position: relative;
              margin: 5px 7px;

              .job-radio-label {
                font-size: 16px;
                display: block;
                display: flex;
                align-items: center;
                justify-content: center;
              }

              .job-radio-input {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                visibility: hidden;
              }
            }

            &.filter {
              width: 450px;

              align-items: center;
              justify-content: center;

              @include mobile {
                width: 100%;
              }
              @include mobileKeyboard {
                width: 100%;
              }
            }
          }

          .job-pay-amount-container {
            .pay-na {
              margin-left: 10px;
              font-size: 20px;
              padding: 12.5px 0px;
            }
          }
        }
      }

      .filter-container {
        margin-bottom: 20px;
        width: 100%;
      }
    }

    .view-modal-title-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      padding: 15px 40px 5px 30px;
      border-radius: 10px 10px 0px 0px;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
      width: inherit;
      max-width: inherit;

      @include mobile {
        padding: 10px 10px;
      }
      @include mobileKeyboard {
        padding: 10px 10px;
      }

      .modal-view-title {
        .icon-container {
          min-width: 30px;
          max-width: 30px;
          max-height: 30px;
          min-height: 30px;
          margin: 8px 7px 0px 0px;

          @include mobile {
            margin: 1px 4px 0px 0px;
          }
          @include mobileKeyboard {
            margin: 1px 4px 0px 0px;
          }

          .favorite-icon {
            min-width: 30px;
            max-width: 30px;
            max-height: 30px;
            min-height: 30px;
          }
        }
        .modal-title-company-and-title {
          display: flex;
          flex-direction: column;

          overflow: hidden !important;
          text-overflow: ellipsis !important;
          white-space: nowrap !important;

          @include mobile {
            .position-name {
              padding-bottom: unset;
            }
          }
          @include mobileKeyboard {
            .position-name {
              padding-bottom: unset;
            }
          }
        }
      }
    }

    .modal-view-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      // position: relative;
      width: 100%;

      .view-details {
        margin-left: 55px;
        margin-top: 112px;

        @include mobile {
          margin-left: 15px;
          margin-top: 82px;
          margin-bottom: 15px;
        }

        @include mobileKeyboard {
          margin-left: 15px;
          margin-top: 82px;
          margin-bottom: 15px;
        }

        .view-notes {
          white-space: pre-wrap;
          line-break: auto;

          overflow-wrap: break-word;
          word-wrap: break-word;

          word-break: break-word;
        }
      }
    }

    .modal-stats-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-top: 90px;
      width: 100%;

      @include mobile {
        margin-top: 80px;
      }
      @include mobileKeyboard {
        margin-top: 80px;
      }

      .stat-wrapper {
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        min-width: 100%;

        .modal-stats-title {
          font-size: 22px;
        }

        .stats-container {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          min-width: 100%;
        }
      }
      .single-stat-container {
        .stat-count {
          text-align: center;
        }
        .stat-name {
          position: relative;
          cursor: pointer;

          .stat-filter-icon {
            position: absolute;
            opacity: 0;
            transition: all ease 0.15s;
            max-width: 18px;
            max-height: 18px;
            left: -20px;
            top: 60%;
            transform: translateY(-50%);
          }

          &:hover {
            .stat-filter-icon {
              opacity: 1;
            }
          }
        }

        &.total {
          margin-left: 10px;
        }
      }
    }
  }

  .modal-background {
    backdrop-filter: blur(6px);
    &.in {
      animation: blurIn 1s ease;
    }

    &.out {
      animation: blurOut 1s ease;
    }
  }
}

.error-message-container {
  width: 100%;
  text-align: center;

  color: crimson;
  font-weight: 600;
  font-size: 20px;
}
