@import "../../global.scss";

.board-page {
  min-height: 100%;
  max-height: 100%;
  max-width: 90%;
  min-width: 90%;
  overflow-y: hidden;
  overflow-x: hidden;

  .table-detail-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;

    @include mobile {
      flex-direction: column;
      padding: 10px 10px 10px 0px;
    }

    .table-name {
      position: relative;
      font-size: 30px;
      font-weight: 500;
      padding: 0px 10px;
      margin-right: 20px;

      @include mobile {
        font-size: 26px;
        padding: 5px 0px;
      }

      .edit-board-icon {
        position: absolute;
        right: -15px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        opacity: 0.5;
        transition: all 0.2s ease;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }

    .board-stats {
      .job-stats {
        &:nth-last-child(1) {
          border-right: none;
        }
      }

      @include mobile {
        font-size: 15px;
        margin: 5px;
      }
    }

    .table-header-buttons {
      display: flex;
      @include mobile {
        margin: 5px;
      }

      .filter-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        margin-left: 15px;
        .filter-icon {
          max-width: 20px;
          min-width: 20px;
          max-height: 20px;
          min-height: 20px;
        }

        .filter-text {
          padding-top: 2px;
        }
      }
    }
  }
  .jobs-table-container {
    display: flex;
    flex-direction: column;

    table {
      border-collapse: collapse;
      overflow: hidden;

      thead {
        .table-header {
          cursor: pointer;
          background-color: rgb(226, 226, 226);
          .column-header {
            padding: 6px 5px;
            align-items: center;
            justify-content: center;
            position: relative;
            .sort-icon {
              position: absolute;
              right: 0px;
            }

            &.active {
              // background-color: $activeColColorHeader;
            }
          }

          th {
          }
        }
      }

      tbody {
        .board-job-row {
          .board-job-cell {
            padding: 3px 8px;
            white-space: nowrap;

            &.center {
              text-align: center;
            }

            &.min100 {
              min-width: 100px;
            }

            &.min80 {
              min-width: 80px;
            }

            &.border-right {
              border-right: solid 1px gray;
            }

            .icon-container {
              max-height: 26px;
              max-width: 26px;
              min-height: 26px;
              min-width: 26px;
              margin-top: 1px;

              .favorite-icon {
                min-height: 26px;
                min-width: 26px;
                max-height: 26px;
                max-width: 26px;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                cursor: pointer;
              }
            }

            .job-status-res-container {
              padding-bottom: 5px;
              &.view {
                padding-top: 1px;
              }

              .job-status-res {
                padding: 0px 8px 4px 8px;
                border: 2px solid;
                border-radius: 50px;
                font-weight: 500;
                font-size: 14px;
                &.waiting {
                  border-color: rgba(150, 150, 150, 1);
                  color: rgba(150, 150, 150, 1);
                  background-color: rgba(150, 150, 150, 0.3);
                  &.result {
                    border-color: rgba(150, 150, 150, 0);
                    color: rgba(150, 150, 150, 1);
                    background-color: transparent;
                    font-style: italic;
                  }
                }
                &.viewed {
                  border-color: rgba(255, 153, 0, 1);
                  color: rgba(255, 153, 0, 1);
                  background-color: rgba(255, 153, 0, 0.3);
                }
                &.contacted {
                  border-color: rgb(195, 0, 255);
                  color: rgb(195, 0, 255);
                  background-color: rgba(195, 0, 255, 0.3);
                }
                &.interviewed {
                  border-color: rgba(255, 217, 0, 1);
                  color: rgba(255, 217, 0, 1);
                  background-color: rgba(255, 217, 0, 0.3);
                }
                &.offered {
                  border-color: rgba(0, 149, 255, 1);
                  color: rgba(0, 149, 255, 1);
                  background-color: rgba(0, 149, 255, 0.3);
                }
                &.accepted {
                  border-color: rgba(75, 180, 75, 1);
                  color: rgba(75, 180, 75, 1);
                  background-color: rgba(75, 180, 75, 0.3);
                }
                &.passed {
                  border-color: rgba(118, 47, 224, 1);
                  color: rgba(118, 47, 224, 1);
                  background-color: rgba(118, 47, 224, 0.3);
                }
                &.rejected {
                  border-color: rgba(220, 20, 60, 1);
                  color: rgba(220, 20, 60, 1);
                  background-color: rgba(220, 20, 60, 0.3);
                  &.status {
                    border-color: rgba(150, 150, 150, 0);
                    color: rgba(220, 20, 60, 1);
                    background-color: transparent;
                    font-style: italic;
                  }
                }
                &.closed {
                  border-color: rgba(220, 20, 60, 1);
                  color: rgba(220, 20, 60, 1);
                  background-color: rgba(220, 20, 60, 0.3);
                  &.status {
                    border-color: rgba(150, 150, 150, 0);
                    color: rgba(220, 20, 60, 1);
                    background-color: transparent;
                    font-style: italic;
                  }
                }
              }
            }
          }
        }
      }
    }

    .bottom-button-container {
      // width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .page-info {
        min-width: 130px;
        text-align: center;
        padding: 0px 10px;
        font-weight: 500;

        @include mobile {
          min-width: 120px;
        }
      }

      .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .page-icon {
          min-height: 26px;
          min-width: 26px;
          max-height: 26px;
          max-width: 26px;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          cursor: pointer;
        }
      }
    }
  }
}
