@import "../../global.scss";

.boards-page {
  position: relative;
  min-height: calc(100vh - $navHeight);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  font-family: Poppins, sans-serif;
  max-height: 100%;

  .boards-header {
    font-family: "poppins", sans-serif;
    margin: 15px;
  }

  .board-add-button-container {
    margin-bottom: 15px;
  }

  .boards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0px;
    max-height: 65vh;

    .board-container {
      .icon-container {
        min-width: 30px;
        max-width: 30px;
        max-height: 30px;
        min-height: 30px;
        margin: 7px 7px;

        @include mobile {
          min-width: 26px;
          max-width: 26px;
          max-height: 26px;
          min-height: 26px;
          margin: 5px 5px;
        }

        .favorite-icon {
          min-width: 30px;
          max-width: 30px;
          max-height: 30px;
          min-height: 30px;
          @include mobile {
            min-width: 26px;
            max-width: 26px;
            max-height: 26px;
            min-height: 26px;
          }
        }
      }

      .board-link-container {
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        min-width: 430px;

        @include mobile {
          max-width: 240px;
          min-width: 240px;
        }

        .board-link-name {
          font-size: 30px;
          font-weight: 500;
          padding-right: 6px;
          padding-bottom: 7px;

          @include mobile {
            font-size: 24px;
            padding-bottom: 2px;
          }
        }
        .board-link-jobs {
          font-size: 20px;
          margin-bottom: 10px;
          margin-left: 15px;

          @include mobile {
            font-size: 18px;
            margin-bottom: 7px;
            margin-left: 12px;
          }
        }
        .board-link-dates-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          .board-link-date {
            font-weight: 400;
            font-size: 14px;
            margin-left: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            .date-title {
              min-width: 65px;
            }
          }

          @include mobile {
            flex-direction: column;
            justify-content: center;
            align-items: start;
          }
        }
      }
    }
  }
}
