@import "./global.scss";

.main {
  height: calc(100vh - $navHeight);
  min-height: calc(100vh - $navHeight);
  padding-top: $navHeight;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    padding-top: unset;
  }
  @include mobileKeyboard {
    padding-top: unset;
    height: calc(100vh);
    min-height: calc(100vh);
  }
}
